#title-bar {
    font-family: "Monoton", cursive;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    stroke: black;
    margin: 10px;
    color: aliceblue;
}

html {
    //background-image: url("");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: rgba(0, 0, 0, 0.87);
}

#guess-word {

}

.keyboard {
    text-align: center;
    background-color: aliceblue;
    grid-template-rows: [row1-start] 33% [row1-end] 33% [row2-end] 33% [row3-end];
    grid-template-columns: [left] 100% [right];
}

.keyboard-first-row {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

.keyboard-second-row {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: row1-end;
    grid-row-end: row2-end;
}

#keyboard-third-row {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: row2-end;
    grid-row-end: row3-end;
}

#key {
    font-family: fantasy;
    text-align: center;
    font-size: 12px;
    margin: 10px;
    background-color: aliceblue;
    color: black;
    border: 1px black;
    border-radius: 2px;
    align-content: center;
}